
@model List<Items> 

<h2>Inventory</h2>
<br />		
<a asp-action="Create" class="btn btn-outline-dark">Add an item</a>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Price</th>
			<th class="action">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model.OrderBy(u => u.Id))
		{
			<tr>
				<td>@obj.Id</td>
				<td>@obj.Name</td>
				<td>@obj.Price</td>
				<td class="action">
					<a asp-controller="Item" asp-action="Edit" asp-route-Id="@obj.Id" class="btn btn-warning">Edit</a>
					<a asp-controller="Item" asp-action="Delete" asp-route-Id="@obj.Id" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}		
	</tbody>
</table>